{
  "env": {
    "jest": true
  },
  "rules": {
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": ["preRequest"]
      }
    ],
    "func-names": "off",
    "no-console": "off"
  }
}
