{
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["supertest", "../path/to/your/app"]
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "user"
      }
    ],
    "import/no-extraneous-dependencies": "off"
  }
}
